# This file is a "template" of which env vars need to be defined for your application
# Copy this file to .env file for development, create environment variables when deploying to production
# https://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration

APP_ENV=dev
APP_SECRET=f7f643fa71d958b8504fc49b1767c6fd
API_CLIENT_URL=
API_CLIENT_ID=
API_CLIENT_SECRET=
API_CLIENT_NAME=php-sdk
TEST_LOGIN=
TEST_PASSWORD=
