.devcontainer
.env.staging
.php_cs.cache
.phpunit.result.cache
.vscode
/.env.*.local
/.env.local
/.env.local.php
/.php-cs-fixer.cache
/.php-cs-fixer.php
/config/secrets/prod/prod.decrypt.private.php
/phpunit.xml
/public/bundles/
/public/uploads/
/var/
/vendor/
.env
